# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
prospektus_db/
prospektus_db.zip
!chunk_*.dat

# Frontend
p-ai/node_modules/
p-ai/dist/
.DS_Store
